/*header*/
header{
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

.link{
  display: inline-block;
  font-weight: 700;
  padding: 21px;
}

.logo{
  float: right;
}

.menu{
  overflow: auto;
  padding: 14px 70px;
}

/*home*/
#home{
  background-image: url(../img/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  margin-top: 80px;
  text-align: center;
}

#home .container{
  color: white;
  padding: 70px;
}

.btn-home{
  background: #2ECC71;
  border-radius: 1px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 63px;
  padding: 11px 20px;
  text-transform: uppercase;
}

.text-home{
  font-size: 53px;
}

/*services*/
#services{
  background-color: #F17C72;
  color: #fff;
  padding: 70px 7px;
  text-align: center;
}

.box-services{
  display: inline-block;
  margin-top: 63px;
  width: 30%;
}

.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}

/*work*/
#work{
  background-color: #FFFFFF;
  color: #161615;
  padding: 70px 7px;
  text-align: center;
}

#work .container{
  box-sizing: border-box;
  margin-left: 0px;
  padding: 0px 0px;
  width: 100%;
}

.box-work{
  display: inline-block;
  width: 32.3%;
  margin-top: 63px;
}

.box-work img{
  cursor:pointer;
}

.content-box-work{
  margin-left: 50px;
  width: 93.5%;
}

.text-specific-work{
  color: #575757;
  padding: 0px 210px;
}

.text-work{
  font-size: 35px;
  letter-spacing: 2px;
}
/*footer*/
footer{
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
}

/*modal*/
#img-modal{
  border: 15px solid white;
  height: 500px;
  width: 600px;
}

.arrow-right{
  color: #92C782;
  font-size: 30px;
  position:absolute;
  right:0%;
  top:50%;
}

.modal{
  background-color:rgba(135,193,117,0.9);
  display:none;
  height:100%;
  left:0;
  overflow:auto;
  padding-top:100px;
  position:fixed;
  top:0;
  width:100%;
}

.modal-content{
  height: 100%;
  margin:auto;
  outline:0;
  position:relative;
  padding:0;
  width: 100%;
}

.close {
  color: #92C782;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 16px;
  text-align: center;
  top: -238px;
  text-decoration: none;
}

.close:hover {
  color: #92C782;
  cursor: pointer;
}
